body {
  background-image: url("./images/bg2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 1640px 1024px;
  color: white;
  font-family: "Inter", sans-serif;
}
span {
  background: linear-gradient(to bottom, #00ff19, rgba(43, 244, 207, 0.2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header {
  display: flex;
  padding: 30px 142px;
}
.logo-style {
  flex: 2;
}
.navlinks {
  display: flex;
  flex: 1;
}
.link {
  flex: 1;
  text-decoration: none;
  color: white;
}
.link img {
  margin-right: 5px;
}
.body {
  margin-top: 50px;
  /* width: 70%; */
}
.section1 {
  padding: 30px 142px;
}
.main-cont {
  /* padding: 30px; */
  line-height: 23px;
  width: 60%;
}
h1 {
  font-size: 4vw;
  color: #091b0c;
  -webkit-text-stroke: 0.1px #22bd4b;
  text-transform: uppercase;
  position: relative;
}
h1::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: white;
  -webkit-text-stroke: 0px #22bd4b;
  border-right: 0.3vw solid #22bd4b;
  overflow: hidden;
  animation: animate 6s linear infinite;
}
@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}
.main-cont button {
  width: 372px;
  height: 94px;
  background-color: hsl(0, 0%, 0%, 20%);
  border: 1px solid #22bd4b;
  color: white;
  margin-top: 15px;
  font-size: large;
}
.btn:hover {
  cursor: pointer;
  background-color: #22bd4b;
  color: #141615;
  transition: 1s;
  border-radius: 10px;
  font-size: larger;
}
.main-cont-bottom {
  /* margin-top: 20px; */
  display: flex;
}
.skill-info {
  flex: 2;
}
.arrow {
  flex: 1;
  margin-top: 5%;
}
.tools {
  flex: 1;
  margin-top: 10px;
}
.section2 {
  padding-top: 204px;
  background-color: #141615;
  display: flex;
}
.forimg {
  flex: 1.5;
}
.bigimg {
  width: 800px;
  height: 896px;
}
.services {
  flex: 1;
  margin-top: 40px;
}
.toflex {
  display: flex;
  width: 80%;
  margin-top: 70px;
}
.toflex img {
  margin-top: 15px;
  margin-right: 10px;
  width: 35px;
  height: 35px;
}
